{% extends 'base.html' %}

{% block title %}
<title>Profile | Hyperion</title>
{% endblock title %}

{% block header %}
<h1 class="text-3xl font-bold tracking-tight text-gray-900">Profile</h1>
{% endblock header %}

{% block content %}

    <div class="flex flex-col pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://ui-avatars.com/api/?name={{user.username}}&rounded=true&background=random" alt="{{user.username}}"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900">{{user.first_name}} {{user.last_name}}</h5>
        <span class="mb-1 text-sm font-medium text-gray-500">{{user.username}}</span>
        <span class="text-sm text-gray-500">{{user.email}}</span>
       
    </div>

<a href="{% url 'accounts:update_user' %}" class="px-3 py-2 text-xs font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300">Update profile</a>



{% endblock content %}