{% extends 'base.html' %}

{% block title %}
<title>Update {{analysis.title}} | Hyperion</title>
{% endblock title %}

{% block header %}
<h1 class="text-3xl font-bold tracking-tight text-gray-900">Update Analysis</h1>
{% endblock header %}

{% block content %}
<div class="">
 <form class="p-4" method="POST" action="{% url 'core:analysis_update' analysis.id %}">
              {% csrf_token %}
              <div class="mb-6">
                  <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                  <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="" value="{{analysis.title}}" required>
                </div>       
              <div class="mb-6">  
                <label for="insights" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Insights</label>
                <textarea id="insights" rows="4" name="insights" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write a note or summary about this data...">{{analysis.insights}}</textarea>
              </div>
              <button type="submit" class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
              <input class="hidden" type="text" name="data_id" value="{{analysis.data.id}}">

            </form>
</div>


{% endblock content %}