{% extends 'base.html' %}

{% block title %}
<title>{{data.name}} | Hyperion</title>
{% endblock title %}

{% block header %}
<h1 class="text-3xl font-bold tracking-tight text-gray-900">{{data.name}}</h1>
{% endblock header %}

{% block content %}

{% if not empty_file %}

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Analysis</h2>
  </div>
  <div class="mt-5 flex lg:ml-4 lg:mt-0">

    <span class="hidden sm:block">
      <button type="button" data-modal-target="filterModal" data-modal-toggle="filterModal" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"></path>
        </svg>
        Filter
      </button>
      <button type="button" data-modal-target="noteModal" data-modal-toggle="noteModal" class="ml-2 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
        </svg>
        Add Note/Summary
      </button>
    </span>

  </div>
</div>

<div class="flex mb-4 items-center">
  <h2 class="text-base font-bold text-gray-900 sm:truncate sm:tracking-tight">Total Sales: ₦{{total_sales}}</h2>
  <h2 class="ml-4 mr-4 text-base font-bold text-gray-900 sm:truncate sm:tracking-tight">Total Profit: ₦{{total_profit}}</h2>
</div>

<div class="mb-4 border-b border-gray-200">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="categories-tab" data-tabs-target="#categories" type="button" role="tab" aria-controls="categories" aria-selected="false">Top Categories</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="subcategories-tab" data-tabs-target="#subcategories" type="button" role="tab" aria-controls="subcategories" aria-selected="false">Sub Categories</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="products-tab" data-tabs-target="#products" type="button" role="tab" aria-controls="products" aria-selected="false">Top Products</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="revenue-tab" data-tabs-target="#revenue" type="button" role="tab" aria-controls="revenue" aria-selected="false">Revenue & Sales</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="growth-tab" data-tabs-target="#growth" type="button" role="tab" aria-controls="growth" aria-selected="false">Profit & Growth</button>
    </li>
    <li role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="blend-tab" data-tabs-target="#blend" type="button" role="tab" aria-controls="blend" aria-selected="false">Blended (Revenue & Profits)</button>
    </li>
  </ul>
</div>
<div id="myTabContent">
  <div class="hidden p-4 rounded-lg bg-gray-50" id="categories" role="tabpanel" aria-labelledby="categories-tab">
    <div class="p-4" style="height: 450px;">
      <div class="mb-6 inline-flex rounded-md shadow-sm" role="group">
        <button id="doughnutBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"></path>
          </svg>
          Doughnut
        </button>
        <button id="pieBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Pie
        </button>
        <button id="polarBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-b border-l border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Polar Area
        </button>
        <button id="barBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"></path>
          </svg>
          Bar
        </button>
        
      </div>
      <canvas id="myCategoryChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="subcategories" role="tabpanel" aria-labelledby="subcategories-tab">
    <div class="p-4">
      <div class="mb-6 inline-flex rounded-md shadow-sm" role="group">
        <button id="sub_doughnutBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"></path>
          </svg>
          Doughnut
        </button>
        <button id="sub_pieBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Pie
        </button>
        <button id="sub_polarBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-l border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Polar Area
        </button>
        <button id="sub_barBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"></path>
          </svg>
          Bar
        </button>
        
      </div>
      <canvas id="mySubCategoryChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="products" role="tabpanel" aria-labelledby="products-tab">
    <div class="p-4">
      <div class="mb-6 inline-flex rounded-md shadow-sm" role="group">
        <button id="product_doughnutBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"></path>
          </svg>
          Doughnut
        </button>
        <button id="product_pieBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Pie
        </button>
        <button id="product_polarBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border-t border-l border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          Polar Area
        </button>
        <button id="product_barBtn" type="button" class="inline-flex items-center px-3 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"></path>
          </svg>
          Bar
        </button>
        
      </div>
      <canvas id="myProductChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="revenue" role="tabpanel" aria-labelledby="revenue-tab">
    <div class="p-4 w-full">
      <canvas id="myRevenueChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="growth" role="tabpanel" aria-labelledby="growth-tab">
    <div class="p-4 w-full">
      <canvas id="myGrowthChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="blend" role="tabpanel" aria-labelledby="blend-tab">
    <div class="p-4 w-full">
      <canvas id="myBlendedChart"></canvas>
    </div>
  </div>
</div>

{% else %}

<h1 class="text-xl font-bold tracking-tight text-gray-900">File is empty</h1>

{% endif %}


<!-- Upload modal -->
<div id="noteModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Add Note/Summary
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="noteModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4" method="POST" action="{% url 'core:analysis_create' %}">
              {% csrf_token %}
              <div class="mb-6">
                  <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                  <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="" required>
                </div>       
              <div class="mb-6">  
                <label for="insights" class="block mb-2 text-sm font-medium text-gray-900">Insights</label>
                <textarea id="insights" rows="4" name="insights" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write a note or summary about this data..."></textarea>
              </div>
              <button type="submit" class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
              <input class="hidden" type="text" name="data_id" value="{{data.id}}">

            </form>
           
        </div>
    </div>
</div>

<!-- Upload modal -->
<div id="filterModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Apply Filter
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="filterModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4" method="GET" action="{% url 'core:data_analysis' data.id %}">

              <div class="mb-4">         
                <label for="order_dates" class="block mb-2 text-sm font-medium text-gray-900">Select dates</label>
                <select multiple id="order_dates" name="order_dates" size="20" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option selected>Choose multiple dates</option>
                  {% for ord in order_dates %}
                  <option value="{{ord}}">{{ord}}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Apply Filter</button>


            </form>
           
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  $(document).ready(function() {
    const ctx = document.getElementById('myCategoryChart');
    const ctx0 = document.getElementById('mySubCategoryChart');
    const ctx1 = document.getElementById('myProductChart');
    const ctx2 = document.getElementById('myRevenueChart');
    const ctx3 = document.getElementById('myGrowthChart');
    const ctx4 = document.getElementById('myBlendedChart');

    let category_chart = null;
    let sub_category_chart = null;
    let product_chart = null;
    let revenue_chart = null;
    let growth_chart = null;
    let blended_chart = null;

    function renderCategory(type) {
      if (category_chart) {
        category_chart.destroy(); // Destroy previous chart before rendering a new one
      }
      const category_data = {
        labels: {{ gs1.categories | safe }},
        datasets: [{
          label: 'Amount in Naira(₦)',
          data: {{ gs1.sales }},
          borderWidth: 1
        }]
      };
      const category_options = {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        indexAxis: 'y',
      };
      category_chart = new Chart(ctx, {
        type: type,
        data: category_data,
        options: category_options
      });
    }
    // Button click handlers
    $('#doughnutBtn').on('click', function() {
      renderCategory('doughnut');
    });
    $('#pieBtn').on('click', function() {
      renderCategory('pie');
    });
    $('#barBtn').on('click', function() {
      renderCategory('bar');
    });
    $('#polarBtn').on('click', function() {
      renderCategory('polarArea');
    });
    // Initial chart render
    renderCategory('polarArea');

    function renderSubCategory(type) {
      if (sub_category_chart) {
        sub_category_chart.destroy(); // Destroy previous chart before rendering a new one
      }
      const sub_category_data = {
        labels: {{ gs2.sub_categories | safe }},
        datasets: [{
          label: 'Amount in Naira(₦)',
          data: {{ gs2.sales }},
          borderWidth: 1
        }]
      };
      const sub_category_options = {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        indexAxis: 'y',
      };
      sub_category_chart = new Chart(ctx0, {
        type: type,
        data: sub_category_data,
        options: sub_category_options
      });
    }
    // Button click handlers
    $('#sub_doughnutBtn').on('click', function() {
      renderSubCategory('doughnut');
    });
    $('#sub_pieBtn').on('click', function() {
      renderSubCategory('pie');
    });
    $('#sub_barBtn').on('click', function() {
      renderSubCategory('bar');
    });
    $('#sub_polarBtn').on('click', function() {
      renderSubCategory('polarArea');
    });
    // Initial chart render
    renderSubCategory('polarArea');

    function renderProduct(type) {
      if (product_chart) {
        product_chart.destroy(); // Destroy previous chart before rendering a new one
      }
      const product_data = {
        labels: {{ g_prod.products | safe }},
        datasets: [{
          label: 'Amount in Naira(₦)',
          data: {{ g_prod.sales }},
          borderWidth: 1,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
          ]
        }]
      };
      const product_options = {
      };
      product_chart = new Chart(ctx1, {
        type: type,
        data: product_data,
        options: product_options
      });
    }
    // Button click handlers
    $('#product_doughnutBtn').on('click', function() {
      renderProduct('doughnut');
    });
    $('#product_pieBtn').on('click', function() {
      renderProduct('pie');
    });
    $('#product_barBtn').on('click', function() {
      renderProduct('bar');
    });
    $('#product_polarBtn').on('click', function() {
      renderProduct('polarArea');
    });
    // Initial chart render
    renderProduct('polarArea');

    function renderRevenue() {
      if (revenue_chart) {
        revenue_chart.destroy(); // Destroy previous revenue_chart before rendering a new one
      }
      const revenue_data = {
        labels: {{gs3.dates | safe}},
        datasets: [{
          label: 'Daily Sales (₦)',
          data: {{ gs3.sales }},
          borderWidth: 1,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      };
      const revenue_options = {
      };
      revenue_chart = new Chart(ctx2, {
        type: "line",
        data: revenue_data,
        options: revenue_options
      });
    }

    renderRevenue();

    function renderGrowth() {
      if (growth_chart) {
        growth_chart.destroy(); // Destroy previous growth_chart before rendering a new one
      }
      const growth_data = {
        labels: {{gp3.dates | safe}},
        datasets: [{
          label: 'Profit (₦)',
          data: {{ gp3.profit }},
          borderWidth: 1,
          borderColor: 'rgba(235, 64, 52)'
        }]
      };
      const growth_options = {
      };
      growth_chart = new Chart(ctx3, {
        type: "line",
        data: growth_data,
        options: growth_options
      });
    }

    renderGrowth();

    function renderBlended() {
      if (blended_chart) {
        blended_chart.destroy(); // Destroy previous blended_chart before rendering a new one
      }
      const blended_data = {
        labels: {{gp3.dates | safe}},
        datasets: [{
          label: 'Revenue (₦)',
          data: {{ gs3.sales }},
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        },
        {
          label: 'Profit (₦)',
          data: {{ gp3.profit }},
          fill: false,
          borderColor: 'rgba(235, 64, 52)',
          tension: 0.1
        }
        ]
      };
      const blended_options = {
        elements: {
          line: {
            borderWidth: 3
          }
        }
      };
      blended_chart = new Chart(ctx4, {
        type: "line",
        data: blended_data,
        options: blended_options
      });
    }

    renderBlended();
  
  });
</script>


{% endblock content %}