{% extends 'base.html' %}

{% block title %}
<title>{{data.name}} | Hyperion</title>
{% endblock title %}

{% block header %}
<h1 class="text-3xl font-bold tracking-tight text-gray-900">Performance Metrics</h1>
{% endblock header %}

{% block content %}

{% if not empty_file %}

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">{{data.name}}</h2>
  </div>
  <div class="mt-5 flex lg:ml-4 lg:mt-0">

    <span class="hidden sm:block">
      <button type="button" data-modal-target="noteModal" data-modal-toggle="noteModal" class="ml-2 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
        </svg>
        Add Note/Summary
      </button>
    </span>

  </div>
</div>

<div class="flex mb-4 items-center">
  <h2 class="text-base font-bold text-gray-900 sm:truncate sm:tracking-tight">Uptime: {{uptime_percentage}}</h2>
  <h2 class="ml-4 mr-4 text-base font-bold text-gray-900 sm:truncate sm:tracking-tight">Response Times: {{response_times_percentage}}</h2>
  <h2 class="ml-4 mr-4 text-base font-bold text-gray-900 sm:truncate sm:tracking-tight">Average Latency: {{average_latency}}</h2>
</div>

<div class="mb-4 border-b border-gray-200">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
    <li role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="blend-tab" data-tabs-target="#blend" type="button" role="tab" aria-controls="blend" aria-selected="false">Blended Metrics</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="response_times-tab" data-tabs-target="#response_times" type="button" role="tab" aria-controls="response_times" aria-selected="false">Response Times</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="latency-tab" data-tabs-target="#latency" type="button" role="tab" aria-controls="latency" aria-selected="false">Latency</button>
    </li>
  </ul>
</div>
<div id="myTabContent">
  <div class="hidden p-4 rounded-lg bg-gray-50" id="response_times" role="tabpanel" aria-labelledby="response_times-tab">
    <div class="p-4 w-full">
      <canvas id="myResponsesChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="latency" role="tabpanel" aria-labelledby="latency-tab">
    <div class="p-4 w-full">
      <canvas id="myLatencyChart"></canvas>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50" id="blend" role="tabpanel" aria-labelledby="blend-tab">
    <div class="p-4 w-full">
      <canvas id="myBlendedChart"></canvas>
    </div>
  </div>
</div>

{% else %}

<h1 class="text-xl font-bold tracking-tight text-gray-900">File is empty</h1>

{% endif %}


<!-- Note modal -->
<div id="noteModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Add Note/Summary
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="noteModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4" method="POST" action="{% url 'core:analysis_create' %}">
              {% csrf_token %}
              <div class="mb-6">
                  <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                  <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="" required>
                </div>       
              <div class="mb-6">  
                <label for="insights" class="block mb-2 text-sm font-medium text-gray-900">Insights</label>
                <textarea id="insights" rows="4" name="insights" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write a note or summary about this data..."></textarea>
              </div>
              <button type="submit" class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
              <input class="hidden" type="text" name="data_id" value="{{data.id}}">

            </form>
           
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  $(document).ready(function() {
    const ctx1 = document.getElementById('myResponseChart');
    const ctx2 = document.getElementById('myLatencyChart');
    const ctx = document.getElementById('myBlendedChart');

    let latency_chart = null;
    let responses_chart = null;
    let blended_chart = null;

    function renderResponses() {
      if (responses_chart) {
        responses_chart.destroy(); // Destroy previous responses_chart before rendering a new one
      }
      const responses_data = {
        labels: {{stamps | safe}},
        datasets: [{
          label: 'Response Times',
          data: {{ response_times }},
          borderWidth: 1,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      };
      const responses_options = {
      };
      revenue_chart = new Chart(ctx1, {
        type: "line",
        data: responses_data,
        options: responses_options
      });
    }

    renderResponses();

    function renderLatency() {
      if (latency_chart) {
        latency_chart.destroy(); // Destroy previous latency_chart before rendering a new one
      }
      const latency_data = {
        labels: {{stamps | safe}},
        datasets: [{
          label: 'Latency',
          data: {{ latency_data }},
          borderWidth: 1,
          borderColor: 'rgba(235, 64, 52)'
        }]
      };
      const latency_options = {
      };
      latency_chart = new Chart(ctx2, {
        type: "line",
        data: latency_data,
        options: latency_options
      });
    }

    renderLatency();

    function renderBlended() {
      if (blended_chart) {
        blended_chart.destroy(); // Destroy previous blended_chart before rendering a new one
      }
      const blended_data = {
        labels: {{stamps | safe}},
        datasets: [{
          label: 'Response times',
          data: {{ response_times }},
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        },
        {
          label: 'Latency',
          data: {{ latency_data }},
          fill: false,
          borderColor: 'rgba(235, 64, 52)',
          tension: 0.1
        }
        ]
      };
      const blended_options = {
        elements: {
          line: {
            borderWidth: 3
          }
        }
      };
      blended_chart = new Chart(ctx, {
        type: "line",
        data: blended_data,
        options: blended_options
      });
    }

    renderBlended();
  
  });
</script>


{% endblock content %}